<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Label</title>
</head>

<script src="js/angular.min.js"></script>
<script async src="js/opencv.js"></script> 

<style>
    .image_layer {
        position: absolute; 
        top: 0px; 
        left: 0px;
    }
</style>

<body>
    <div ng-app="myApp" ng-controller="clsfController" tabindex="0" ng-keydown="navigate($event)">
        <script src="js/clsf_controller.js"> </script>


        <p>Status: {{ connectionStatus }} </p>
        
        <input id="positionSelector" type="range" 
        style="width: 400px" min="0" max="100000" ng-model="idxCur" ng-change="refreshFrame()">

        <h2>index {{ idxCur }}</h2>
        <h2>mode {{ mode }}</h2>
        <input type="checkbox" ng-model="stepAfterChange">step<br>

        <div>
            <div style="position: relative; width: 100%;">

                    <div class="image_layer">
                        <img id="layerImage" src="{{ imageData('img') }}" width="100%"/>
                    </div>
                    <div class="image_layer" style="opacity: 0.0;" onload="">
                        <img id="layerMask" src="{{ imageData('mask') }}" width="100%" />
                    </div>
                    <div class="image_layer" style="left: 30%; text-shadow: 0px 0px 5px #99ffff">
                        <h1>Property C {{ property_c }}</h1>
                        <h1>Property E {{ property_e }}</h1>
                    </div>
                    <div class="image_layer">
                            <canvas id="myCanvas" style="opacity: 0.6;">
                                    Your browser does not support the HTML5 canvas tag.</canvas>
                    </div>
            </div>
        </div>



    </div>

</body>

</html>
