<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>V</title>
</head>

<script src="js/angular.min.js"></script>

<style>
    .image_layer {
        position: absolute; 
        top: 0px; 
        left: 0px;
    }
</style>

<body>
    <div ng-app="myApp" ng-controller="launcherCtrl" tabindex="0" ng-keydown="navigate($event)">
        <script src="js/my_controller.js"></script>


        <p>Status: {{ connectionStatus }} </p>

        <!-- <button ng-click="loadImage(9000)">Load 1</button>
        <button ng-click="loadImage(10000)">Load 2</button>

        <button ng-click="load_video(1)">Load Video 1</button>
        <button ng-click="load_video(2)">Load Video 2</button> -->

        <input type="number" name="image first frame" ng-model="positions['vid_image'].start" required>
        <input type="number" name="image first frame" ng-model="positions['vid_mask'].start" required>

        <input id="positionSelector" type="range" 
        style="width: 400px" min="0" max="10000" ng-model="idxCur"
        ng-change="refreshFrame()">

        <p>index {{ idxCur }}</p>
        <p>Image index {{ positions['vid_image'].current }}</p>
        <p>Mask index {{ positions['vid_mask'].current }}</p>

        <div>
            <div style="position: relative; width: 100%;">
                    <div class="image_layer">
                        <img id="layerImage" src="{{ imageData('vid_image') }}" width="100%"/>
                    </div>
                    <div class="image_layer" style="opacity: 0.5;" onload="">
                        <img src="{{ imageData('vid_mask') }}" width="100%" />
                    </div>
                    <div class="image_layer">
                            <canvas id="myCanvas">
                                    Your browser does not support the HTML5 canvas tag.</canvas>
                    </div>
            </div>
        </div>



    </div>


</body>

</html>
